@import "../../../global-styles/style.scss";

.homepage-component-right {
  & &__tiles {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 64px;

    @include desktop {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      // grid-column-gap: 24px;
      grid-row-gap: 21px;
      gap: 12px;

    }
    @include tablet {
      max-width: 491px;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
  }
  
}
