@import "../../../global-styles/style.scss";

.homepage-component-right {
  // height: 100%;
  // margin-bottom: 64px;
  & &__tile-1,
  & &__tile-2,
  & &__tile-3,
  & &__tile-4 {
    background-color: var(--color-background-tile);
    max-width: 333px;
    height: 189px;
    border-radius: 20px;
    text-align: center;
    margin-left: 5px;
    margin-right: 16px;
    margin-top: 4px;
    height: auto;


    & h3::before {
      position: absolute;
      left: 135px;
      top: -75px;
    }
  }

  & &__title {
    font-weight: 500;
    margin-top: 91px;
    margin-bottom: 16px;
    position: relative;
    font-size: 20px;
  }

  & &__tile-1 {
    & h3::before {
      content: url(../../../assets/globe.png);
    }
  }

  & &__tile-2 {
    & h3::before {
      content: url(../../../assets/person.png);
    }
  }

  & &__tile-3 {
    & h3::before {
      content: url(../../../assets/lang.png);
    }
  }

  & &__tile-4 {
    & h3::before {
      content: url(../../../assets/AI.png);
    }
  }
  & &__content {
    margin: 16px 16px 24px 16px;
    opacity: 25%;
    font-size: 14px;
    line-height: 22px;
  }

  @include tablet {
    margin-top: 7px;
    & &__tile-1,
    & &__tile-2,
    & &__tile-3,
    & &__tile-4 {
      height: 218px;
      width: 240px;
      margin-right: 0;
      margin-left: 0;
      height: auto;

      & h3::before {
        left: 85px;
        top: -77px;
      }
    }
    & &__title {
      margin-right: 6px;
      margin-top: 93px;
    }

    & &__content {
      margin-right: 19px;
    }
  }

  @include desktop {
    & &__tile-1,
    & &__tile-2,
    & &__tile-3,
    & &__tile-4 {
      border-radius: 24px;
      height: 240px;
      width: 268px;
      margin-right: 0;
      margin-left: 0;
      margin-top: 0;
      height: auto;

      & h3::before {
        left: 102px;
        top:-81px;
      }
    }
    & &__content {
      font-size: 16px;
      line-height: 24px;
    }
    & &__title {
      margin-top: 104px;
    }
  }

  // @include phone {
  //   & &__tile-1,
  //   & &__tile-2,
  //   & &__tile-3,
  //   & &__tile-4 {
  //     & h3::before {
  //       left: 140px;
  //       top: -80px;
  //     }
  //   }
  // }
}
